// =========================================================
// * Vuetify Material Dashboard - v1.0.0
// =========================================================

// * Product Page: https://www.creative-tim.com/product/vuetify-material-dashboard
// * Copyright 2019 Creative Tim (https://www.creative-tim.com)
// * Licenses under MIT

// * Coded by Creative Tim

// =========================================================

// * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

@import "material-dashboard/mixins";
@import "material-dashboard/variables";
@import "material-dashboard/typography";
@import "material-dashboard/sidebar";
@import "material-dashboard/toolbar";
@import "material-dashboard/misc";
@import "material-dashboard/inputs";
@import "material-dashboard/footer";
@import "material-dashboard/cards";
@import "material-dashboard/tables";
@import "material-dashboard/tabs";
@import "material-dashboard/checkboxes";
@import "material-dashboard/tooltips";
@import "material-dashboard/buttons";
@import "material-dashboard/alerts";
@import "material-dashboard/fixed-plugin";
@import "material-dashboard/dropdown";

.v-list__tile--link {
  width: 100%;
}

.v-navigation-drawer .v-list .v-list-item > .v-list__tile:hover,
.v-navigation-drawer .v-list .v-list-item > .v-list__tile:focus,
.v-navigation-drawer .v-list .v-list-item > .v-list__tile:active {
  width: 100%;
}

.custom-logout {
  position: absolute;
  bottom: 0;
  margin: 0 !important;
  background: #424242;
  width: 100%;
  padding: 15px 30px;
  border-top-width: thin;
  border-top-style: solid;
  border-color: rgba(180, 180, 180, 0.3);
}

.custom-item {
  flex: initial;
}

.overflow-sidebar {
  overflow: auto;
  scroll-behavior: smooth;
}
