<template>
  <v-container>
    <div>
    <v-card-text>
      <v-container>
        <v-row> </v-row>
        <v-row>
          <v-flex d-flex> </v-flex>
        </v-row>
        <v-row>
          <v-col> </v-col>
        </v-row>
      </v-container>
    </v-card-text>
    <v-card-actions>
      <v-spacer></v-spacer>
    </v-card-actions>
    <v-card>
      <v-card-title>
        Registros de clientes
        <v-spacer></v-spacer>
      </v-card-title>
    <v-data-table
      :headers="headers"
      :items="clientes"
      class="elevation-1"
    >
      <template v-slot:items="clientes">
      <td class="text-xs-center blue--text text--lighten-1">{{ clientes.item.nombreFantasia }}</td>
      <td class="text-xs-center">{{ clientes.item.rubro.nombre }}</td>
      <td class="text-xs-center">{{ clientes.item.cuit }}</td>
      <td class="text-xs-center">0</td>
      <td class="text-xs-center">0</td>
        <td v-if="clientes.item.image" class="text-xs-center"><v-img :src=clientes.item.image style="border-radius: 5px"></v-img></td>
        <td v-else class="text-xs-center"><v-img :src="'images/clientes/no-image.png'" style="border-radius: 5px"></v-img></td>
        <td class="justify-center layout px-0">
          <v-icon
            small
            class="mr-2"
            @click="editItem(clientes.item)"
          >
            edit
          </v-icon>
          <v-icon
            small
            @click="deleteCliente(clientes.item._id)"
          >
            delete
          </v-icon>
        </td>
      </template>
    </v-data-table>
    </v-card>
    <!--
    <clienteCreate></clienteCreate>
    -->
    <v-dialog v-model="dialog_create" persistent max-width="600px">
        <template v-slot:activator="{ on }">
          <v-btn color="#2e7d32" dark v-on="on">Registrar nuevo Cliente</v-btn>
        </template>
        <v-card>
          <v-card-title>
            <span class="headline">Nuevo Cliente</span>
          </v-card-title>
          <v-card-text>
            <v-container>
                <v-row>
                  <v-col cols="3" sm="6" md="4">
                    <v-text-field label="Nombre*" v-model="nombreFantasia" required></v-text-field>
                  </v-col>
                  <v-col cols="3" sm="6" md="4">
                    <v-text-field label="Razón Soc*" v-model="razonSocial" required></v-text-field>
                  </v-col>
                  <v-col cols="6">
                    <v-flex d-flex>
                      <v-select
                          :items="rubros"
                          label="Rubro"
                          item-text="nombre"
                          item-value="_id"
                          outline
                          v-model="rubro_id"
                      ></v-select>
                    </v-flex>
                  </v-col>
                  <v-col cols="3" sm="6" md="4">
                    <v-text-field label="CUIT*" v-model="cuit" required></v-text-field>
                  </v-col>
                  <v-col cols="3" sm="6" md="4">
                    <v-text-field label="Tel*" v-model="telefono" required></v-text-field>
                  </v-col>   <v-col cols="3" sm="6" md="4">
                    <v-text-field label="Email*" type="email" v-model="email" required></v-text-field>
                  </v-col>
                 <!--
                  <v-col cols="3" sm="6" md="4">
                    <v-text-field label="Rubro*" v-model="rubro_id" required></v-text-field>
                  </v-col>
                  -->
                </v-row>  
                <v-col cols="12" sm="6" md="4">
                  <v-text-field label="Codigo Postal" hint="campo opcional"></v-text-field>
                  <v-flex xs12 sm6 d-flex>
                    <v-select
                      :items="categoriasAfip"
                      label="IVA"
                      item-text="nombre"
                      item-value="_id"
                      outline
                      v-model="categoriaAfip_id"
                    ></v-select>
                  </v-flex>
                </v-col>

              <!--
            <file-upload></file-upload>-->
              <input
                  type="file"
                  ref="file"
                  prepend-icon="mdi-camera"
                  @change="onFileSelected"
              >

            </v-container>
            <small>* campos requeridos</small>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="#2e7d32" text @click="dialog_create = false">Cerrar</v-btn>
            <v-btn color="#2e7d32" text @click="addCliente">Confirmar</v-btn>
          </v-card-actions>
        </v-card>
    </v-dialog>


      <v-card>
        <v-card-title>
          Sucursales
          <v-spacer></v-spacer>
          <v-text-field
                  v-model="search"
                  append-icon="search"
                  label="Buscar"
                  single-line
                  hide-details
          ></v-text-field>
        </v-card-title>
        <v-data-table
                :headers="headers_sucursales"
                :items="sucursales"
                :search="search"
        >
          <template v-slot:items="props">
            <td class="text-xs-center">{{ props.item.direccion }}</td>
            <td class="text-xs-center">{{ props.item.localidad.nombre }}</td>
            <td class="text-xs-center">{{ props.item.createdAt }}</td>

            <td class="justify-center layout px-0">
              <v-icon small class="mr-2" @click="editItem(sucursales.item)">
                edit
              </v-icon>
              <v-icon small @click="deleteSucursal(props.item._id)">
                delete
              </v-icon>
            </td>
          </template>
          <template v-slot:no-results>
            <v-alert :value="true" color="error" icon="warning">
              No se encontraron resultados para "{{ search }}".
            </v-alert>
          </template>
        </v-data-table>
      </v-card>
      <v-dialog v-model="dialog_edit" max-width="500px">
        <template v-slot:activator="{ on }">
          <v-btn color="#2e7d32" dark class="mb-2" v-on="on">Registrar nueva Sucursal de cliente</v-btn>
        </template>
        <v-card>
          <v-card-title>
            <span class="headline">Nueva Sucursal</span>
          </v-card-title>
          <v-card-text>
            <v-container>
              <v-row>
                <v-col cols="2">
                  <v-text-field label="Dirección" v-model="direccion" required></v-text-field>
                </v-col>
                <v-col cols="2">
                  <v-flex d-flex>
                    <v-select
                            :items="localidades"
                            label="Localidades"
                            item-text="nombre"
                            item-value="_id"
                            outline
                            v-model="sucursalLocalidad_id"
                    ></v-select>
                  </v-flex>
                </v-col>
              </v-row>
                <v-row>
                  <v-flex d-flex>
                    <v-select
                            :items="clientes"
                            label="Empresas"
                            item-text="nombreFantasia"
                            item-value="_id"
                            outline
                            v-model="cliente_id"
                    ></v-select>
                  </v-flex>
                </v-row>
                <v-row>
                  <v-col>
                    <v-text-field label="latitud" v-model="latitud" required></v-text-field>
                  </v-col>
                  <v-col>
                    <v-text-field label="longitud" v-model="longitud" required></v-text-field>
                  </v-col>
                </v-row>
            </v-container>
            <small>* campos requeridos</small>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="#2e7d32" text @click="dialog_edit = false">Cerrar</v-btn>
            <v-btn color="#2e7d32" text @click="addSucursal">Confirmar</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>

  </div>
  </v-container>  
</template>
<script>
  import { mapState } from "vuex";
  import axios from 'axios';
  import api from "../api/api";
  import Cookies from "js-cookie";


  import FileUpload from "../components/FileUpload";


 export default {
    mounted(){
      axios.get(`http://${process.env.VUE_APP_IP}:4000/api/categorias`,
        {headers: 
          {"x-access-token": Cookies.get("token")}
        }
      )
      .then((response) => {
        this.categoriasAfip = response.data;
        console.log(this.categoriasAfip);
      });
              /**/
      this.$store.dispatch("cliente/getClientes");
      console.log(this.clientes);
      this.$store.dispatch("localidad/getLocalidades");
      console.log(this.localidades);
      this.$store.dispatch("rubro/getRubros");

      this.$store.dispatch("sucursal/getSucursales");
    },

    data: () => ({
      //--New CLIENTE creation
      nombreFantasia:'',
      razonSocial:'',
      cuit:'',
      email:'',
      telefono:'',
      user_id:'',
      pais_id:'',
      rubro_id:'',
      categoriaAfip_id:'',
      file: '',
      //--SUCURSAL de cliente creation
      identificacion: '',
      direccion: '',
      telefono: '',
      cliente_id:'',
      localidad_id: '',
      sucursalLocalidad_id: '',
      latitud:'',
      longitud:'',

      categoriasAfip: [],
      
      dialog_create: false,
      dialog_edit: false,
      search: '',
      headers: [
        {
          sortable: false,
          text: 'Empresa',
          value: 'Empresa',
          align: 'center'
        },
        {
          sortable: false,
          text: 'Rubro',
          value: 'Rubro',
          align: 'center'
        },
        {
          sortable: false,
          text: 'CUIT',
          value: 'CUIT',
          align: 'center'
        },
        {
          sortable: false,
          text: 'Cant. Auditorias',
          value: 'Cant. Auditorias',
          align: 'center'
        },
        {
          sortable: false,
          text: 'Cant. Capacitaciones',
          value: 'Cant. Capacitaciones',
          align: 'center'
        },

        {
          sortable: false,
          text: 'Logo',
          value: 'Logo',
          align: 'center'
        }
      ],
      headers_sucursales: [
        /*{
          sortable: false,
          text: 'Cliente',
          value: 'Cliente',
          align: 'center'
        },*/
        {
          sortable: false,
          text: 'Direccion',
          value: 'Direccion',
          align: 'center'
        },
        {
          sortable: false,
          text: 'Ciudad',
          value: 'Ciudad',
          align: 'center'
        },
        {
          sortable: false,
          text: 'Fecha registro',
          value: 'Fecha registro',
          align: 'center'
        }
      ],

      search: '',
      calories: '',
      selectedFile: null

    }),
   components:{
     FileUpload,
   },

    computed: {
      headers_sucursales () {
        return [
          {
            text: 'Dessert (100g serving)',
            align: 'left',
            sortable: false,
            value: 'name',
          },
          {
            text: 'Calories',
            value: 'calories',
            filter: value => {
              if (!this.calories) return true

              return value < parseInt(this.calories)
            },
          },
          { text: 'Fat (g)', value: 'fat' },
          { text: 'Carbs (g)', value: 'carbs' },
          { text: 'Protein (g)', value: 'protein' },
          { text: 'Iron (%)', value: 'iron' },
        ]
      },



      formTitle () {
        return this.editedIndex === -1 ? 'Nuevo Cliente' : 'Editar Cliente'
      },
      ...mapState({
            clientes: state => state.cliente.clientes, //OK
            sucursales: state => state.sucursal.sucursales,
            provincias: state => state.provincia.provincias, //OK
            rubros: state=> state.rubro.rubros,
            localidades: state => state.localidad.localidades,
            getClienteError: state => state.cliente.getUsersError,
            getClienteErrorMessage: state => state.cliente.getUsersErrorMessage,
            postClienteSuccess: state => state.cliente.postUserSuccess,
            postClienteError: state => state.cliente.postUserError,
            postClienteErrorMessage: state => state.cliente.postUserErrorMessage,
            removeClienteError: state => state.cliente.removeUserError,
            removeClienteErrorMessage: state => state.cliente.removeUserErrorMessage,

            //removeSucursalSuccess: state => state.sucursal.
      })
    },
/*
    watch: {
      dialog (val) {
        val || this.close()
      }
    },
*/
    methods: {
      onFileSelected(event){
        console.log(event);
        this.selectedFile = event.target.files[0];
        //aparentemente seria lo mismo que esto: this.file= this.$refs.file.files[0];
        console.log(this.selectedFile);
      },
      addCliente(){
        console.log(this.file);
        this.file= this.$refs.file.files[0];
        //if (newClienteNombre && this.newClienteProvincia){
          this.$store.dispatch("cliente/postCliente", {
              nombreFantasia: this.nombreFantasia,
              razonSocial: this.razonSocial,
              cuit: this.cuit,
              email: this.email,
              telefono: this.telefono,
              pais_id:'000000000000000000001000',
              rubro_id: this.rubro_id,
              categoriaAfip_id: this.categoriaAfip_id,
              image: this.selectedFile
          });
        //}
      },
       addSucursal(){
          this.$store.dispatch("sucursal/postSucursal",{
            identificacion: '',
            direccion: this.direccion,
            telefono: this.direccion,
            cliente_id: this.cliente_id,
            localidad_id: this.sucursalLocalidad_id,
            latitud: this.latitud,
            longitud: this.longitud,
          });
       },
      deleteCliente(id){
        this.$store.dispatch("cliente/removeCliente", {id});
      },
      deleteSucursal(id){
        this.$store.dispatch("sucursal/removeSucursal", {id});
      },

      close () {
        this.dialog_create = false;
        setTimeout(() => {
          this.editedItem = Object.assign({}, this.defaultItem);
          this.editedIndex = -1
        }, 300)
      },
      onImageSelect(){
        const file = this.$refs.file.files[0];
        this.file= file;
        const formData = new FormData();
        formData.append('file', this.file);
        console.log(formData);
      },

      filterOnlyCapsText (value, search, item) {
        return value != null &&
                search != null &&
                typeof value === 'string' &&
                value.toString().indexOf(search) !== -1
      },

      //Tratamiento de Imagen de cliente

    }
  }
</script>
