<template>
  <v-container>
    <div>
      <v-card-text>
        <v-container>
          <v-row> </v-row>
          <v-row>
            <v-flex d-flex> </v-flex>
          </v-row>
          <v-row>
            <v-col> </v-col>
          </v-row>
        </v-container>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
      </v-card-actions>
      <v-card>
        <v-card-title>
          Todos los empleados
          <v-spacer></v-spacer>
          <v-text-field
            v-model="search"
            append-icon="search"
            label="Buscar"
            single-line
            hide-details
          ></v-text-field>
        </v-card-title>
        <v-data-table
          :headers="headers_empleados"
          :items="empleados"
          :search="search"
        >
          <template v-slot:items="empleados">
            <td class="text-xs-center">{{ empleados.item.nombre }}</td>
            <td class="text-xs-center">{{ empleados.item.apellido }}</td>
            <td class="text-xs-center">{{ empleados.item.cliente_id }}</td>
            <td class="justify-center layout px-0">
              <v-icon small class="mr-2" @click="editItem(empleados.item)">
                edit
              </v-icon>
              <v-icon small @click="deleteEmpleado(empleados.item._id)">
                delete
              </v-icon>
            </td>
          </template>
          <template v-slot:no-results>
            <v-alert :value="true" color="error" icon="warning">
              No se encontraron resultados para "{{ search }}".
            </v-alert>
          </template>
        </v-data-table>
      </v-card>
      <v-dialog v-model="dialog_create" persistent max-width="600px">
        <template v-slot:activator="{ on }">
          <v-btn color="#2e7d32" dark v-on="on">Registrar nuevo Empleado</v-btn>
        </template>
        <v-card>
          <v-card-title>
            <span class="headline">Nuevo Empleado</span>
          </v-card-title>
          <v-card-text>
            <v-container>
              <v-row>
                <v-col cols="3" sm="6" md="4">
                  <v-text-field
                    label="Nombre*"
                    v-model="nombre"
                    required
                  ></v-text-field>
                </v-col>
                <v-col cols="3" sm="6" md="4">
                  <v-text-field
                    label="Apellido*"
                    v-model="apellido"
                    required
                  ></v-text-field>
                </v-col>
                <v-col cols="3" sm="6" md="4">
                  <v-text-field
                    label="Fecha de Ingreso*"
                    v-model="fechadeingreso"
                    required
                  ></v-text-field>
                </v-col>
                <v-col cols="3" sm="6" md="4">
                  <v-text-field
                    label="Profesión"
                    v-model="profesion"
                    required
                  ></v-text-field>
                </v-col>
                <v-col cols="3" sm="6" md="4">
                  <v-text-field
                    label="Tipo*"
                    v-model="tipo"
                    required
                  ></v-text-field>
                </v-col>
                <v-col cols="3" sm="6" md="4">
                  <v-flex xs12 sm6 d-flex>
                    <v-select
                      :items="clientes"
                      label="Cliente"
                      item-text="nombreFantasia"
                      item-value="_id"
                      outline
                      v-model="cliente_id"
                    ></v-select>
                  </v-flex>
                </v-col>
              </v-row>
            </v-container>
            <small>* campos requeridos</small>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="#2e7d32" text @click="dialog_create = false"
              >Cerrar</v-btn
            >
            <v-btn color="#2e7d32" text @click="addEmpleado"
              >Confirmar</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-dialog>
    </div>
  </v-container>
</template>
<script>
  import { mapState } from "vuex";

  export default {
  mounted() {
    this.$store.dispatch("empleado/getEmpleados");
        console.log(this.empleados);
  },

  data: () => ({
    nombre: "",
    apellido: "",
    cliente_id: "",
    fechadeingreso: "",
    profesion: "",
    tipo: "",
    dialog_create: false,
    dialog_edit: false,
    clientes: [],

    headers_empleados: [
      {
        sortable: false,
        text: "Nombre",
        value: "Nombre",
        align: "center",
      },
      {
        sortable: false,
        text: "Apellido",
        value: "Apellido",
        align: "center",
      },
      {
        sortable: false,
        text: "Cliente",
        value: "Cliente",
        align: "center",
      },
      {
        sortable: false,
        text: "Acciones",
        value: "Acciones",
        align: "center",
      },
    ],

    search: "",
    calories: "",
  }),

  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "Nuevo Empleado" : "Editar Empleado";
    },
    ...mapState({
      empleados: (state) => state.empleado.empleados, //OK
      getEmpleadoError: (state) => state.empleado.getUsersError,
      getEmpleadoErrorMessage: (state) => state.empleado.getUsersErrorMessage,
      postEmpleadoSuccess: (state) => state.empleado.postUserSuccess,
      postEmpleadoError: (state) => state.empleado.postUserError,
      postEmpleadoErrorMessage: (state) => state.empleado.postUserErrorMessage,
      removeEmpleadoError: (state) => state.empleado.removeUserError,
      removeEmpleadoErrorMessage: (state) =>
        state.empleado.removeUserErrorMessage,
    }),
  },

  watch: {
    dialog(val) {
      val || this.close();
    },
  },

  methods: {
    addEmpleado() {
      this.$store.dispatch("empleado/postEmpleado", {
        nombre: this.nombre,
        apellido: this.apellido,
        fechadeingreso: this.fechadeingreso,
        profesion: this.profesion,
        tipo: this.tipo,
        cliente_id: this.cliente_id,
      });
    },
  },
  
  deleteEmpleado(id) {
    this.$store.dispatch("empleado/removeEmpleado", { id });
  },

  close() {
    this.dialog_create = false;
    setTimeout(() => {
      this.editedItem = Object.assign({}, this.defaultItem);
      this.editedIndex = -1;
    }, 300);
  },

  filterOnlyCapsText(value, search, item) {
    return (
      value != null &&
      search != null &&
      typeof value === "string" &&
      value.toString().indexOf(search) !== -1
    );
  },
};
</script>
