<template>
  <v-container>
    <div>
    <v-card>
    <v-card-title>
      Registros de Municipios
      <v-spacer></v-spacer>
    </v-card-title>
    <v-data-table
      :headers="headers"
      :items="localidades"
      class="elevation-1"
    >
      <template v-slot:items="localidades">
      <td class="text-xs-center blue--text text--lighten-1">{{ localidades.item.nombre }}</td>
      <td class="text-xs-center">no registrado</td>
      <td class="text-xs-center">{{ localidades.item.provincia.nombre }}</td>
      <td class="text-xs-center">ARGENTINA</td>
        <td class="justify-center layout px-0">
          <v-icon
            small
            class="mr-2"
            @click="editItem(localidades.item)"
          >
            editar
          </v-icon>
          <v-icon
            @click="deleteLocalidad(localidades.item._id)"
          >
            delete
          </v-icon>
        </td>
      </template>
      
    </v-data-table>
    </v-card>
    <!--
    <localidadCreate></localidadCreate>
    -->
    <v-dialog v-model="dialog" persistent max-width="600px">
        <template v-slot:activator="{ on }">
          <v-btn color="#2e7d32" dark v-on="on">Registrar nueva Localidad</v-btn>
        </template>
        <v-card>
          <v-card-title>
            <span class="headline">{{formTitle}}</span>
          </v-card-title>
          <v-card-text>
            <v-container>
                <v-col cols="12" sm="6" md="4">
                  <v-text-field label="Nombre*" v-model="nombre" required></v-text-field>
                </v-col>
                <v-col cols="12" sm="6" md="4">
                  <v-text-field label="Codigo Postal" hint="campo opcional"></v-text-field>
                  <v-flex xs12 sm6 d-flex>
                    <v-select
                      :items="provincias"
                      label="Provincias"
                      item-text="nombre"
                      item-value="_id"
                      outline
                      v-model="provincia_id"
                    ></v-select>
                  </v-flex>
                </v-col>
            </v-container>
            <small>* campos requeridos</small>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="#2e7d32" text @click="dialog = false">Cerrar</v-btn>
            <v-btn color="#2e7d32" text @click="save">Confirmar</v-btn>
          </v-card-actions>
        </v-card>
    </v-dialog>
  </div>
  </v-container>  
</template>

<script>
  import localidadCreate from '../components/LocalidadCreate'
  import { mapState } from "vuex";

 export default {
    name: 'Localidades',
    mounted(){
      this.$store.dispatch("localidad/getLocalidades");
      this.$store.dispatch("provincia/getProvincias");
    },

    data: () => ({
      nombre:'',
      provincia_id:'',  //provincia seleccionada al crear nueva localidad
      selectedLocalidad_id:null,
      dialog: false,
      search: '',
      headers: [
          {
            text: 'NOMBRE',
            align: 'center',
            sortable: false,
            value: 'name'
          },
          { text: 'COD POSTAL', align: 'center' },
          { text: 'PROVINCIA', value: 'fat', align: 'center' },
          { text: 'PAIS', value: 'carbs', align: 'center' },
          { text: '', sortable: false,}
        ],
      editedLocalidad: false ,
    }),

    computed: {
      formTitle () {
        return this.editedLocalidad === false ? 'Nueva Localidad' : 'Editar Localidad'
      },
      ...mapState({
            localidades: state => state.localidad.localidades, //OK
            provincias: state => state.provincia.provincias, //OK
            getLocalidadError: state => state.localidad.getUsersError,
            getLocalidadErrorMessage: state => state.localidad.getUsersErrorMessage,
            postLocalidadSuccess: state => state.localidad.postUserSuccess,
            postLocalidadError: state => state.localidad.postUserError,
            postLocalidadErrorMessage: state => state.localidad.postUserErrorMessage,
            removeLocalidadError: state => state.localidad.removeUserError,
            removeLocalidadErrorMessage: state => state.localidad.removeUserErrorMessage,
      })
    },

    watch: {
      dialog (val) {
        val || this.close()
      }
    },

    methods: {
      addLocalidad(){
        if (this.nombre && this.provincia_id){
          this.$store.dispatch("localidad/postLocalidad", {
              nombre: this.nombre,
              provincia_id: this.provincia_id
          });
        this.close();
        }
      },
      deleteLocalidad(id){
        this.$store.dispatch("localidad/removeLocalidad", {id});
      },

      updateLocalidad(){
        let id = this.selectedLocalidad_id;
        let nombre = this.nombre;   //seted from edition
        let provincia_id = this.provincia_id;
        this.$store.dispatch("localidad/updateLocalidad", {id, nombre, provincia_id});
      },
      
      provinciaSelected(provincia_id) {
        this.provincia_id= provincia_id;
      },

      editItem (localidad) {
        this.editedLocalidad = true;
        this.nombre = localidad.nombre;
        this.provincia_id = localidad.provincia_id;
        this.dialog = true;
        this.selectedLocalidad_id= localidad._id;
      },

      close () {
        this.dialog = false;
        this.nombre = '';
        this.provincia_id = null;
      },

      save () {
        if (this.editedLocalidad === false) {
          this.addLocalidad();
          this.editedLocalidad = false
        }else {
          this.updateLocalidad();
        }
        this.close()
      }
    }
  }

</script>