<template>
  <v-container>
    <div>
      <v-card-text>
        <v-container>
          <v-row> </v-row>
          <v-row>
            <v-flex d-flex> </v-flex>
          </v-row>
          <v-row>
            <v-col> </v-col>
          </v-row>
        </v-container>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
      </v-card-actions>
      <v-card>
        <v-card-title>
          Ordenes
          <v-spacer></v-spacer>
        </v-card-title>
        <v-data-table :headers="headers" :items="ordenes">
          <template v-slot:items="ordenes">
            <td class="text-xs-center">{{ ordenes.item.sucursal_id }}</td>
            <td class="text-xs-center">{{ ordenes.item.tipoOrden_id }}</td>
            <td class="text-xs-center">
              {{ moment(ordenes.item.fechainicio) }}
            </td>
            <td class="text-xs-center">
              {{ moment(ordenes.item.fechavencimiento) }}
            </td>
            <td class="justify-center layout px-0"></td>
            <v-icon small class="mr-2" @click="editItem(ordenes.item)">
              edit
            </v-icon>
            <v-icon small @click="deleteOrden(ordenes.item._id)">
              delete
            </v-icon>
          </template>
          <template v-slot:no-results>
            <v-alert :value="true" color="error" icon="warning">
              No se encontraron resultados para "{{ search }}".
            </v-alert>
          </template>
        </v-data-table>
      </v-card>

      <v-dialog v-model="dialog" persistent max-width="600px">
        <template v-slot:activator="{ on }">
          <v-btn color="#2e7d32" dark class="mb-2" v-on="on"
            >Crear nueva Orden</v-btn
          >
          <v-btn color="#2e7d32" @click="redirectToAddTraining()"
            >Crear nueva Capacitacion</v-btn
          >
        </template>
        <v-card>
          <v-card-title>
            <span class="headline">{{ formTitle }}</span>
          </v-card-title>
          <v-card-text>
            <v-container>
              <v-row>
                <v-col cols="3" sm="6" md="4">
                  <v-col class="d-flex" cols="12" sm="6">
                    <v-autocomplete
                      :items="sucursales"
                      label="Sucursal"
                      item-text="direccion"
                      item-value="direccion"
                      solo
                      v-model="sucursal_id"
                    ></v-autocomplete>
                  </v-col>
                </v-col>
                <v-col cols="3" sm="6" md="4">
                  <v-col class="d-flex" cols="12" sm="6">
                    <v-autocomplete
                      :items="tiposOrden"
                      label="Tipo de orden de servicio"
                      item-text="nombre"
                      item-value="nombre"
                      solo
                      v-model="tipoOrden_id"
                    ></v-autocomplete>
                  </v-col>
                </v-col>
                <v-col cols="3" sm="6" md="4">
                  <v-menu
                    ref="menu_fechainicio"
                    v-model="menu_fechainicio"
                    :close-on-content-click="false"
                    :nudge-right="40"
                    lazy
                    transition="scale-transition"
                    offset-y
                    full-width
                    max-width="290px"
                    min-width="290px"
                  >
                    <template v-slot:activator="{ on }">
                      <v-text-field
                        v-model="fechainicio_formateada"
                        label="Fecha inicio"
                        :rules="form_rules"
                        required
                        persistent-hint
                        prepend-icon="event"
                        @blur="fechainicio = parseDate(fechainicio_formateada)"
                        v-on="on"
                      ></v-text-field>
                    </template>
                    <v-date-picker
                      v-model="fechainicio"
                      no-title
                      @input="menu_fechainicio = false"
                      locale="es-AR"
                    ></v-date-picker>
                  </v-menu>
                </v-col>

                <v-col cols="3" sm="6" md="4">
                  <v-menu
                    ref="menu_fechavencimiento"
                    v-model="menu_fechavencimiento"
                    :close-on-content-click="false"
                    :nudge-right="40"
                    lazy
                    transition="scale-transition"
                    offset-y
                    full-width
                    max-width="290px"
                    min-width="290px"
                  >
                    <template v-slot:activator="{ on }">
                      <v-text-field
                        v-model="fechavencimiento_formateada"
                        label="Fecha de vencimiento"
                        persistent-hint
                        prepend-icon="event"
                        @blur="
                          fechavencimiento = parseDate(
                            fechavencimiento_formateada
                          )
                        "
                        :rules="form_rules"
                        required
                        v-on="on"
                      ></v-text-field>
                    </template>
                    <v-date-picker
                      v-model="fechavencimiento"
                      no-title
                      @input="menu_fechavencimiento = false"
                      locale="es"
                    ></v-date-picker>
                  </v-menu>
                </v-col>
              </v-row>
            </v-container>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="#2e7d32" text @click="dialog = false">Cerrar</v-btn>
            <v-btn color="#2e7d32" text @click="save">Confirmar</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </div>
  </v-container>
</template>

<script>
import { mapState } from "vuex";
import axios from "axios";
import api from "../api/api";
import Cookies from "js-cookie";
import moment from "moment";

export default {
  data: () => ({
    valid: true,
    valid_form_step_2: true,
    form_rules: [(v) => !!v || "Este campo es requerido"],

    id: "",
    sucursal_id: null,
    tipoOrden_id: "",

    fechainicio: null,
    fechainicio_formateada: null,
    menu_fechainicio: false,

    fechavencimiento: null,
    fechavencimiento_formateada: null,
    menu_fechavencimiento: false,

    selectedOrden_id: null,
    //tiposOrden: [],
    dialog: false,
    search: "",
    headers: [
      {
        sortable: false,
        text: "Sucursal",
        value: "sucursal_id",
        align: "center",
      },
      {
        sortable: false,
        text: "Tipo de orden",
        value: "tipoOrden_id",
        align: "center",
      },
      {
        sortable: false,
        text: "Fecha de inicio",
        value: "fechainicio",
        align: "center",
      },
      {
        sortable: false,
        text: "Fecha de vencimiento",
        value: "fechavencimiento",
        align: "center",
      },
    ],
    editedOrden: false,
  }),

  mounted() {
    this.$store.dispatch("orden/getOrdenes");
    this.$store.dispatch("sucursal/getSucursales");
    this.$store.dispatch("tipoOrden/getTiposOrdenes");
    axios
      .get(`http://${process.env.VUE_APP_IP}:4000/api/tiposOrdenes`, {
        headers: { "x-access-token": Cookies.get("token") },
      })
      .then((response) => {
        this.tiposOrden = response.data;
      });
  },

  computed: {
    formTitle() {
      return this.editedOrden === false ? "Nueva Orden" : "Editar Orden";
    },
    ...mapState({
      ordenes: (state) => state.orden.ordenes,
      sucursales: (state) => state.sucursal.sucursales,
      getOrdenError: (state) => state.orden.getUsersError,
      getOrdenErrorMessage: (state) => state.orden.getUsersErrorMessage,
      postOrdenSuccess: (state) => state.orden.postUserSuccess,
      postOrdenError: (state) => state.orden.postUserError,
      postOrdenErrorMessage: (state) => state.orden.postUserErrorMessage,
      removeOrdenError: (state) => state.orden.removeUserError,
      removeOrdenErrorMessage: (state) => state.orden.removeUserErrorMessage,
    }),
  },

  watch: {
    fechainicio() {
      this.fechainicio_formateada = this.formatDate(this.fechainicio);
    },

    fechavencimiento() {
      this.fechavencimiento_formateada = this.formatDate(this.fechavencimiento);
    },

    dialog(val) {
      val || this.close();
    },
  },

  methods: {
    moment(dateToParse) {
      return moment(dateToParse, "YYYY-MM-DD").format("DD/MM/YYYY");
    },

    nextStep() {
      if (
        (this.step == 1 && this.$refs["form-step-1"].validate()) ||
        this.step != 1
      ) {
        this.step++;
      }
    },

    formatDate(date) {
      if (!date) return null;

      const [year, month, day] = date.split("-");
      return `${day}/${month}/${year}`;
    },
    parseDate(date) {
      if (!date) return null;

      const [month, day, year] = date.split("/");
      return `${year}/${month.padStart(2, "0")}-${day.padStart(2, "0")}`;
    },

    /*setFocus() {
      this.$refs["new-item-surname"].focus();
    },
    */

    redirectToAddTraining() {
      window.location.href = "/ordenes/add-training";
    },

    addOrden() {
      this.$store.dispatch("orden/postOrden", {
        sucursal_id: this.sucursal_id,
        tipoOrden_id: this.tipoOrden_id,
        fechainicio: this.fechainicio,
        fechavencimiento: this.fechavencimiento,
      });
      this.close();
    },

    deleteOrden(id) {
      this.$store.dispatch("orden/removeOrden", { id });
    },

    editItem(orden) {
      this.editedOrden = true;
      this.sucursal_id = orden.sucursal_id;
      this.tipoOrden_id = orden.tipoOrden_id;
      this.fechainicio = orden.fechainicio;
      this.fechavencimiento = orden.fechavencimiento;
      this.dialog = true;
      this.selectedOrden_id = orden._id;
    },

    updateOrden() {
      let id = this.selectedOrden_id;
      let sucursal_id = this.sucursal_id;
      let tipoOrden_id = this.tipoOrden_id;
      let fechainicio = this.fechainicio;
      let fechavencimiento = this.fechavencimiento;
      this.$store.dispatch("orden/updateOrden", {
        id,
        sucursal_id,
        tipoOrden_id,
        fechainicio,
        fechavencimiento,
      });
    },

    sucursalSelected(sucursal_id) {
      this.sucursal_id = sucursal_id;
    },

    close() {
      this.dialog = false;
      //this.newOrden_sucursal_id = "";
      setTimeout(() => {
        this.editedOrden = false;
      }, 300);
    },

    save() {
      if (this.editedOrden === false) {
        this.addOrden();
        this.editedOrden = false;
      } else {
        this.updateOrden();
      }
      this.close();
    },
  },
};
</script>
