<template>
  <v-container>
    <div>
    <v-toolbar flat color="white mx-2">
      <v-toolbar-title>Rubros Laborales registrados</v-toolbar-title>
      <v-divider
        class="mx-2"
        inset
        vertical
      ></v-divider>
      <v-spacer></v-spacer>
    </v-toolbar>




    <v-data-table
      :headers="headers"
      :items="rubros"
      class="elevation-1"
    >
      <template v-slot:items="rubros">
      <td class="text-xs-center blue--text text--lighten-1">{{ rubros.item.nombre }}</td>
        <td class="text-xs-center blue--text text--lighten-1">0</td>
        <td class="justify-center layout px-0"></td>
          <v-icon
            small
            class="mr-2"
            @click="editItem(rubros.item)"
          >
            edit
          </v-icon>
          <v-icon
            small
            @click="deleteRubro(rubros.item._id)"
          >
            delete
          </v-icon>
      </template>
      
    </v-data-table>
    <!--
    <rubroCreate></rubroCreate>
    -->
    <v-dialog v-model="dialog" persistent max-width="600px">
        <template v-slot:activator="{ on }">
          <v-btn color="#2e7d32" dark v-on="on">Registrar nuevo Rubro</v-btn>
        </template>
        <v-card>
          <v-card-title>
            <span class="headline">{{formTitle}}</span>
          </v-card-title>
          <v-card-text>
            <v-container>
              <v-row>
                <v-col cols="12" sm="6" md="4">
                  <v-text-field label="Nombre*" v-model="newRubro_nombre" required></v-text-field>
                </v-col>
                <v-col>
                  <v-text-field label="CIIU" v-model="newRubro_ciiu"></v-text-field>
                </v-col>
              </v-row>
              <v-row>
                <v-col>
                  <v-text-field label="Descripcion (opcional)" v-model="newRubro_descripcion"></v-text-field>
                </v-col>
              </v-row>
            </v-container>
            <small>* campos requeridos</small>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="#2e7d32" text @click="dialog = false">Cerrar</v-btn>
            <v-btn color="#2e7d32" text @click="save">Confirmar</v-btn>
          </v-card-actions>
        </v-card>
    </v-dialog>    
  </div>
  </v-container>  
</template>

<script>
  import { mapState } from "vuex";
  import Vue from "vue";

 export default {
   name: 'Rubros',
    mounted(){
      this.$store.dispatch("rubro/getRubros");
    },

    data: () => ({
      newRubro_nombre:'',
      newRubro_ciiu:'',
      newRubro_descripcion:'',
      selectedRubro_id: null,
      dialog: false,
      search: '',
      headers: [
          {
            text: 'NOMBRE',
            text: 'CIIU',
            text: 'Descripcion',
            text: 'Numero de clientes de este rubro',
            align: 'center',
            sortable: false,
            value: 'name'
          },
          { text: 'Cantidad de clientes en rubro', align: 'center' },
          { text: 'Acciones', align: 'center', sortable: false, },
        ],
      editedRubro: false,  //bandera para marcar si es edicion o creacion de rubro
    }),

    computed: {
      formTitle () {
        return this.editedRubro === false ? 'Nuevo Rubro' : 'Editar Rubro'
      },
      ...mapState({
            rubros: state => state.rubro.rubros, //OK
            provincias: state => state.provincia.provincias, //OK
            getRubroError: state => state.rubro.getUsersError,
            getRubroErrorMessage: state => state.rubro.getUsersErrorMessage,
            postRubroSuccess: state => state.rubro.postUserSuccess,
            postRubroError: state => state.rubro.postUserError,
            postRubroErrorMessage: state => state.rubro.postUserErrorMessage,
            removeRubroError: state => state.rubro.removeUserError,
            removeRubroErrorMessage: state => state.rubro.removeUserErrorMessage,
      })
    },

    watch: {
      dialog (val) {
        val || this.close()
      }
    },

    methods: {
      addRubro(){
        this.$store.dispatch("rubro/postRubro", {
            nombre: this.newRubro_nombre,
            ciiu: this.newRubro_ciiu,
            descripcion: this.newRubro_descripcion,
        });
        this.close();
      },
      deleteRubro(id){
        this.$store.dispatch("rubro/removeRubro", {id});
      },

      editItem (rubro) {
        this.editedRubro = true;
        this.newRubro_nombre = rubro.nombre;
        this.newRubro_ciiu = rubro.ciiu;
        this.newRubro_descripcion = rubro.descripcion;
        this.dialog = true;
        this.selectedRubro_id=rubro._id
      },

      updateRubro(){
        let id = this.selectedRubro_id;
        let nombre = this.newRubro_nombre;   //seted from edition
        let ciiu= this.newRubro_ciiu;
        let descripcion= this.newRubro_descripcion;
        this.$store.dispatch("rubro/updateRubro", {id, nombre, ciiu, descripcion});
      },

      close () {
        this.dialog = false;
        this.newRubro_nombre = '';
        setTimeout(() => {
          this.editedRubro = false
        }, 300)
      },

      save () {
        if (this.editedRubro === false) {
          this.addRubro();
          this.editedRubro = false
        }else {
          this.updateRubro();
        }
        this.close()
      }
    }
  }
</script>