<template>
  <v-container>
    <div>
      <v-card-text>
        <v-container>
          <v-row> </v-row>
          <v-row>
            <v-flex d-flex> </v-flex>
          </v-row>
          <v-row>
            <v-col> </v-col>
          </v-row>
        </v-container>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
      </v-card-actions>
      <v-card>
        <v-card-title>
          Todas las Ordenes
          <v-spacer></v-spacer>
        </v-card-title>
        <v-data-table
          :headers="headers"
          :items="tiposOrdenes"
        >
          <template v-slot:items="tiposOrdenes">
            <td v-id="" class="text-xs-center">{{ tiposOrdenes.item.nombre }}</td>
            <td v-if="tiposOrdenes.item.capacitacion" class="text-xs-center">Si</td>
            <td v-else class="text-xs-center">No</td>
            <td class="justify-center layout px-0"></td>
          </template>
          <template v-slot:no-results>
            <v-alert :value="true" color="error" icon="warning">
              No se encontraron resultados para "{{ search }}".
            </v-alert>
          </template>
        </v-data-table>
      </v-card>
      <v-dialog v-model="dialog_create" persistent max-width="600px">
        <template v-slot:activator="{ on }">
          <v-btn color="#2e7d32" dark v-on="on">Registrar nueva Orden</v-btn>
        </template>
        <v-card>
          <v-card-title>
            <span class="headline">Nueva Orden</span>
          </v-card-title>
          <v-card-text>
            <v-container>
              <v-row>
                <v-col cols="3" sm="6" md="4">
                  <v-text-field
                    label="Nombre"
                    v-model="nombre"
                    required
                  ></v-text-field>
                </v-col>
                <v-col cols="3" sm="6" md="4">
                Capacitación
                </v-col>
                <v-checkbox
                  input-value=""
                  value
                  true
                ></v-checkbox>
              </v-row>
            </v-container>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="#2e7d32" text @click="dialog_create = false"
              >Cerrar</v-btn
            >
            <v-btn color="#2e7d32" text @click="addTipoOrden"
              >Confirmar</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-dialog>
      
      
    </div>
  </v-container>
</template>
<script>
  import { mapState } from "vuex";
  import axios from 'axios';
  import api from "../api/api";
  import Cookies from "js-cookie";


  export default {
  
    data: () => ({
      nombre:"",
      capacitacion:"",
      dialog_create: false,
      dialog_edit: false,
      headers: [
        {
          sortable: false,
          text: "Nombre",
          value: "Nombre",
          align: "center"
        },
        {
          sortable: false,
          text: "Capacitacion",
          value: "Capacitacion",
          align: "center"
        },
      ]
    }),

    methods: {
      addTipoOrden() {
        this.$store.dispatch("tipoOrden/postTipoOrden", {
          nombre: this.nombre,
          capacitacion: this.capacitacion,
          });
      },
   
      close () {
        this.dialog_create = false;
        setTimeout(() => {
          this.editedItem = Object.assign({}, this.defaultItem);
          this.editedIndex = -1;
        }, 300)
      },
     
      filterOnlyCapsText (value, search, item) {
        return ( 
          value != null &&
          search != null &&
          typeof value === 'string' &&
          value.toString().indexOf(search) !== -1
        );
      },
    },
       
    mounted() {
      this.$store.dispatch("tipoOrden/getTiposOrdenes");
    },
  
    computed: {
      formTitle () {
        return this.editedTipoOrden === false ? 'Nuevo Tipo de Orden' : 'Editar Tipo de Orden'
      },
      ...mapState({
        tiposOrdenes: (state) => state.tipoOrden.tiposOrdenes,
        getTipoOrdenError: state => state.tipoOrden.getTiposOrdenesError,
        postTipoOrdenSuccess: state => state.tipoOrden.postTipoOrdenSuccess,
        postTipoOrdenError: state => state.tipoOrden.postTipoOrdenError,
        postTipoOrdenErrorMessage: state => state.tipoOrden.postTipoOrdenErrorMessage,
        removeTipoOrdenError: state => state.tipoOrden.removeTipoOrdenError,
        removeTipoOrdenErrorMessage: state => state.tipoOrden.removeTipoOrdenErrorMessage,
      }),
    },
    
    watch: {
      dialog (val) {
        val || this.close()
      }
    },
  }
</script>

