<template>
  <v-container>
    <h3 class="mb-4">Localidades</h3>
    <!-- Card -->
    <v-card class="my-2">
      <v-card-title>
        <v-layout row wrap class="mb-2 px-2">
          <v-spacer></v-spacer>
          <v-flex xs3 class="px-2">
            <v-text-field
              v-model="search"
              append-icon="search"
              label="Filtrar"
              single-line
              hide-details
            />
          </v-flex>
        </v-layout>
      </v-card-title>
      <!-- Table -->
      <v-data-table :headers="headers" :items="localidades_filter">
        <template v-slot:items="localidades">
          <td class="text-xs-center">
            {{ localidades.item.nombre }}
          </td>
          <td class="text-xs-center">
            <b v-if="localidades.item.codigoPostal > 0" >{{ localidades.item.codigoPostal }}</b>
            <b v-else>NO REGISTRADO</b> 
          </td>
          <td class="text-xs-center">
            {{ localidades.item.provincia.nombre }}
          </td>
          <!--
          <td class="text-xs-center">
            ARGENTNA
          </td>
          -->
          <td class="justify-center layout px-0">
            <v-icon
              small
              title="Editar registro"
              class="mr-2"
              @click="showForm(localidades.item)"
            >
              edit
            </v-icon>

            <v-icon
              small
              title="Eliminar registro"
              @click="showConfirmDelete(localidades.item._id)"
            >
              delete
            </v-icon>
          </td>
        </template>
        <template v-slot:no-results>
          <v-alert :value="true" color="error" icon="warning">
            No se encontraron resultados para "{{ search }}".
          </v-alert>
        </template>
      </v-data-table>
    </v-card>

    <v-layout align-center justify-end row fill-height class="mt-2">
      <v-flex xs2 class="mx-2">
        <v-btn color="primary" block @click="showForm(false)">
          Registrar localidad
        </v-btn>
      </v-flex>
    </v-layout>

    <!-- Modals -->
    <localidad-form />
    <confirm-delete :localidad_id="localidad_id" />
  </v-container>
</template>

<script>
import { mapActions, mapMutations, mapState } from "vuex";
import LocalidadForm from "./LocalidadForm.vue";
import ConfirmDelete from "./ConfirmDelete.vue";
//import Detail from "./Detail.vue";

export default {
  data: () => ({
    localidad_id: null,
    search: "",
    headers: [
      {
        sortable: true,
        text: "Nombre",
        value: "nombre",
        align: "center",
      },

      {
        sortable: true,
        text: "Código Postal",
        value: "codigoPostal",
        align: "center",
      },

      {
        sortable: true,
        text: "Provincia",
        value: "provincia.nombre",
        align: "center",
      },
      /*
      {
        sortable: true,
        text: "País",
        value: "",
        align: "center",
      },
      */
      {
        sortable: false,
        text: "Acciones",
        value: "actions",
        align: "center",
      },
    ],
  }),

  mounted() {
    this.getLocalidades();
    this.getProvincias();
  },

  components: {
    LocalidadForm,
    ConfirmDelete,
  },

  computed: {
    ...mapState({
      localidades: (state) => state.localidad.localidades,
    }),

    localidades_filter() {
      const valid = this.search && this.search.trim().length > 0;
      if (valid) {
        return this.localidades.filter(
          (item) =>
            item.nombre.search(this.search) > -1 ||
            item.provincia.nombre.search(this.search) > -1 
        );
      }
      return this.localidades;
    },
  },

  methods: {
    ...mapActions({
      getLocalidades: "localidad/getLocalidades",
      getProvincias: "provincia/getProvincias",
    }),

    ...mapMutations({
      /**
       * Localidades
       */
      setShowConfirmDelete: "localidad/SET_SHOW_CONFIRM_DELETE",
      openForm: "localidad/OPEN_FORM",
      loadForm: "localidad/LOAD_FORM",
      setIsUpdateForm: "localidad/SET_IS_UPDATE_FORM",
      resetForm: "localidad/RESET",
    }),

    formatDate(date) {
      if (!date) return null;
      const [year, month, day] = date.split("-");
      return `${day}/${month}/${year}`;
    },

    showConfirmDelete(id) {
      this.localidad_id = id;
      this.setShowConfirmDelete(true);
    },
    
    showForm(localidad) {
      if (localidad) this.loadForm(localidad);
      this.setIsUpdateForm(localidad);
      this.openForm(true);
    },
    
  },
};
</script>

