<template>
  <v-container>
    <h3 class="mb-4">Ordenes</h3>
    <!-- Card -->
    <v-card class="my-2">
      <v-card-title>
        <v-layout row wrap class="mb-2 px-2">
          <v-spacer></v-spacer>
          <v-flex xs3 class="px-2">
            <v-text-field
              v-model="search"
              append-icon="search"
              label="Filtrar"
              single-line
              hide-details
            />
          </v-flex>
        </v-layout>
      </v-card-title>
      <!-- Table -->
      <v-data-table :headers="headers" :items="ordenes_filter" :pagination.sync="pagination">
        <template v-slot:items="ordenes">
          <td class="text-xs-center">
            {{ ordenes.item.sucursal.cliente.razonSocial }}
          </td>
          <td class="text-xs-center">
            {{ ordenes.item.sucursal.direccion }} - {{ ordenes.item.sucursal.localidad.nombre }}
          </td>
          <td class="text-xs-center">{{ ordenes.item.numeroorden }}</td>
          <td v-if="ordenes.item.tipoOrden.capacitacion" class="text-xs-center">Capacitación: <b>"{{ ordenes.item.tipoOrden.nombre }}"</b></td>
          <td v-else class="text-xs-center">{{ ordenes.item.tipoOrden.nombre }}</td>
          <td class="text-xs-center">
            {{ formatDate(ordenes.item.fechainicio) }}
          </td>
          <td class="text-xs-center">
            {{ formatDate(ordenes.item.fechavencimiento) }}
          </td>
          <td class="text-xs-center">
            {{ formatDate(ordenes.item.createdAt.split("T")[0]) }}
          </td>
          <td class="justify-center layout px-0">
            <v-icon
              small
              class="mr-2"
              title="Ver registro completo"
              @click="showDetail(ordenes.item)"
            >
              visibility
            </v-icon>
            <v-icon
              v-if="user.isAdmin"
              small
              title="Editar registro"
              class="mr-2"
              @click="showForm(ordenes.item)"
            >
              edit
            </v-icon>
            <v-icon 
              v-if="user.isAdmin"
              small
              title="Eliminar registro"
              @click="showConfirmDelete(ordenes.item._id)"
            >
              delete
            </v-icon>
          </td>
        </template>
        <template v-slot:no-results>
          <v-alert :value="true" color="error" icon="warning">
            No se encontraron resultados para "{{ search }}".
          </v-alert>
        </template>
      </v-data-table>
    </v-card>

    <v-layout v-if="user.isAdmin" align-center justify-end row fill-height class="mt-2">
      <v-flex xs2 class="mx-2">
        <v-btn color="primary" block @click="showForm(false)">
          Crear orden
        </v-btn>
      </v-flex>
      <v-flex xs2 class="mx-2">
        <v-btn color="primary" block @click="redirectToAddTraining(false)">
          Crear capacitacion
        </v-btn>
      </v-flex>
    </v-layout>

    <!-- Modals -->
    <orden-form />
    <confirm-delete :orden_id="orden_id" />
    <detail />
    <detail-trainig/>
  </v-container>
</template>

<script>
import { mapActions, mapMutations, mapState } from "vuex";
import OrdenForm from "./OrdenForm.vue";
import ConfirmDelete from "./ConfirmDelete.vue";
import Detail from "./Detail.vue";
import DetailTrainig from "./DetailTrainig.vue";
import Router from "../../router";

export default {
  data: () => ({
    orden_id: null,
    search: "",
    pagination: {
      rowsPerPage: -1, // con -1 mustra "Todos"
    },
    headers: [
      {
        sortable: true,
        text: "Cliente",
        value: "sucursal.cliente.razonSocial",
        align: "center",
      },
      {
        sortable: true,
        text: "Sucursal",
        value: "sucursal.direccion",
        align: "center",
      },
      {
        sortable: true,
        text: "Número orden",
        value: "numeroorden",
        align: "center",
      },
      {
        sortable: true,
        text: "Tipo de orden",
        value: "tipoOrden.nombre",
        align: "center",
      },
      {
        sortable: true,
        text: "Fecha de inicio",
        value: "fechainicio",
        align: "center",
      },
      {
        sortable: true,
        text: "Fecha de vencimiento",
        value: "fechavencimiento",
        align: "center",
      },


      {
        sortable: true,
        text: "Fecha de alta",
        value: "createdAt",
        align: "center",
      },
      {
        sortable: false,
        text: "Acciones",
        value: "actions",
        align: "center",
      },
    ],
  }),

  mounted() {
    this.loadUser()
    this.getSucursales();
    this.getOrdenes();
    this.getTiposOrdenes();
  },

  components: {
    OrdenForm,
    ConfirmDelete,
    Detail,
    DetailTrainig,
  },

  computed: {
    ...mapState({
      ordenes: (state) => state.orden.ordenes,
      user: state =>state.user
    }),

    ordenes_filter() {
      const valid = this.search && this.search.trim().length > 0;
      if (valid) {
        return this.ordenes.filter(
          (item) =>
            item.sucursal.cliente.razonSocial.search(this.search) > -1 ||
            item.sucursal.direccion.search(this.search) > -1 ||
            item.numeroorden.toString().search(this.search) > -1 ||
            item.tipoOrden.nombre.search(this.search) > -1 ||
            item.fechainicio.search(this.search) > -1 ||
            this.formatDate(item.fechavencimiento).search(this.search) > -1 ||
            this.formatDate(item.createdAt.split("T")[0]).search(this.search) >
              -1
        );
      }
      return this.ordenes.filter((item) => item.sucursal.cliente.active === true);
    },
  },

  methods: {
    ...mapActions({
      getSucursales: "sucursal/getSucursales",
      getOrdenes: "orden/getOrdenes",
      getTiposOrdenes: "tipoOrden/getTiposOrdenes",
      getEmpleadosCliente: "capacitacion/getEmpleadosCliente",
      loadUser: "user/loadUser",
    }),

    ...mapMutations({
      /**
       * Ordenes
       */
      setShowConfirmDelete: "orden/SET_SHOW_CONFIRM_DELETE",
      openDetail: "orden/OPEN_DETAIL",
      openForm: "orden/OPEN_FORM",
      loadForm: "orden/LOAD_FORM",
      setIsUpdateForm: "orden/SET_IS_UPDATE_FORM",
      resetForm: "orden/RESET",
      /**
       * Capacitaciones
       */
      loadTrainigForm: "capacitacion/LOAD_FORM",
      setIsTrainigUpdateForm: "capacitacion/SET_IS_UPDATE_FORM",
      openTrainigDetail: "capacitacion/OPEN_DETAIL",
    }),

    formatDate(date) {
      if (!date) return null;
      const [year, month, day] = date.split("-");
      return `${day}/${month}/${year}`;
    },

    redirectToAddTraining(orden) {
      if (orden) {
        this.loadTrainigForm(orden);
        this.getEmpleadosCliente(orden.sucursal.cliente_id);
      }
      this.setIsTrainigUpdateForm(orden);
      Router.push({ name: "training" });
    },

    showConfirmDelete(id) {
      this.orden_id = id;
      this.setShowConfirmDelete(true);
    },

    showForm(orden) {
      if (orden?.capacitacion) {
        this.redirectToAddTraining(orden);
      } else {
        if (orden) this.loadForm(orden);
        this.setIsUpdateForm(orden);
        this.openForm(true);
      }
    },

    showDetail(orden) {
      if (orden.capacitacion) {
        this.loadTrainigForm(orden);
        this.openDetail(false);
        this.openTrainigDetail(true);
      } else {
        this.loadForm(orden);
        this.openTrainigDetail(false);
        this.openDetail(true);
      }
    },
  },
};
</script>

