<template>
    <div>
        <core-filter/>
        <core-toolbar/>
        <core-view />
        <core-drawer/>
    </div>
</template>
<script>
//creo que tengo que importar estos componentes de arriba

//
export default {
    name: "AppLayout"
}
</script>