<!-- <template>
  <v-container>
    <v-form id=“login-form”>
      <p class=“text-muted”>Ingresa a tu cuenta</p>
      <v-item-group class=“mb-3">
        <v-item-group>
          <v-icon class=“icon-user”></v-icon>
        </v-item-group>
        <v-input
            type=“text”
            class=“form-control”
            placeholder=“Username”
            autocomplete=“username email”
            v-model='email'
            id=“email”
        />
      </v-item-group>
      <v-item-group class=“mb-4">
        <i class=“icon-lock”></i>

        <v-input
            type=“password”
            class=“form-control”
            placeholder=“Password”
            autocomplete=“current-password”
            v-model='password'
            id=“password”
            v-on:keyup=“keyUp”
        />
      </v-item-group>
      <v-row>
        <v-col cols=“4”>
          <b-button variant=“primary” @click=login() class=“”>Login</b-button>
        </v-col>
      </v-row>
      <v-row>
        <template>
          <h6>
            <router-link to=“/reset”>Olvidaste tu password?</router-link>
          </h6>
        </template>
      </v-row>
    </v-form>
  </v-container>

</template> -->

<!-- <script>

export default {
  name: 'LoginForm',
  props: {
    calledFrom: String,
        defaultEmail: String,
        defaultPassword: String,
  },
  computed: {
  ...mapState({
      adminLoginLoading: (state) => state.auth.adminLoginLoading,
      adminLoginError: (state) => state.auth.adminLoginError,
      adminLoginErrorMessage: (state) => state.auth.adminLoginErrorMessage,
      userLoginLoading: (state) => state.gateway.first_auth_loading,
    }),
        loading() {
      return this.userLoginLoading || this.adminLoginLoading
    },
  },
  watch: {
    email(newValue) {
      this.emailForm = newValue
    },
    password(newValue) {
      this.passwordForm = newValue
    },
    adminLoginError(newValue, oldValue) {
      if (newValue && newValue !== oldValue) {
        Vue.swal({
          title: 'Invalid Credentials',
        text:
            'Please, verify that your email account or password are correct ' +
            this.adminLoginErrorMessage,
            type: 'error',
        width: '350px',
        timer: 2000,
            position: 'top-end',
      })
      }
    },
  },
  data() {
    return {
      version: json,
      email: this.defaultEmail,
      password: this.defaultPassword,
    }
  },
  created() {
    this.$store.dispatch('gateway/getVersions')
  },
  methods: {
    login() {
      let credentials = {
        email: this.email.trim().toLowerCase(),
        password: this.password,
      }
      this.$emit('login', credentials)
    },
    keyUp: function(e) {
      if (e.keyCode === 13) {
        if (!this.loading) {
          this.login()
        }
      }
    },
  },
}
</script> -->